@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');


@font-face {
  font-family: 'Helvetica Neue';
  src: 
  url('../../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
  url('../../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: 
  url('../../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: 
  url('../../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('../../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: 
  url('../../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
  url('../../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
  font-weight: 800;
}