:root {

  // Colors
  --black: #111119;
  --dark: #1C1C27;
  --white: #FFF;
  --grey: #E2E2E2;
  --grey-dark: #43434E;
  --primary: #890189;
  --primary-hover: #A10AA1;
  --red: #FF0000;
  --gradient-dark: linear-gradient(95.29deg, rgba(127, 127, 127, 0.45) 0%, #000000 100%);
  --gradient-blue: linear-gradient(180deg, #3DADBA 38.46%, #359EA3 100%);

}